<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-xs-12">
      <div class="form-group">
	<div class="input-group">
	  {{input value=searchQuery classBinding=":form-control" action="search" placeholder="Enter query"}}
	  <span class="input-group-btn">
	    <button class="btn btn-primary" {{action search searchQuery}}>Search</button>
	  </span>
	</div>
      </div>
    </div>
    {{#if model.meta.pagination.per_page}}
    <div class="col-xs-12">
      <ul class="pagination">
	{{#if model.meta.pagination.previous}}
	<li>
	  {{#link-to 'components.index' (query-params page=model.meta.pagination.previous)}}&laquo;{{/link-to}}
	</li>
	{{else}}
	<li class="disabled"><a>&laquo;</a></li>
	{{/if}}
	{{#each page in pageArray}}
	<li {{bind-attr class="page.active:active"}}>
	  {{#link-to 'components.index' (query-params page=page.page.page)}}{{page.page}}{{/link-to}}
	</li>
	{{/each}}
	<li></li>
	{{#if model.meta.pagination.next}}
	<li>
	  {{#link-to 'components.index' (query-params page=model.meta.pagination.next)}}&raquo;{{/link-to}}
	</li>
	{{else}}
	<li class="disabled"><a>&raquo;</a></li>
	{{/if}}
      </ul>
    </div>
    <div class="col-xs-12">
      Showing {{pageStart}} - {{pageEnd}} of {{model.meta.query.total}}
      {{#if singleResult}}result{{else}}results{{/if}}
    </div>
    {{/if}}
    {{#if model}}
    <div class="col-xs-12">
      <table class="table">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Amount</th>
	    <th>Tags</th>
	    <th>Datasheet</th>
	  </tr>
	</thead>
	<tbody>
	  {{#each model itemController='components.component'}}
	  <tr>
	    <td>{{link-to name 'components.show' id}}</td>
	    <td>{{descriptionSummary}}</td>
	    <td>{{amount}}</td>
	    <td>
	      {{#each tag in tagsArray}}
		{{link-to tag.name 'components.index' (query-params query=tag.query)
                          class="label label-default"}}
	      {{/each}}
	    </td>
	    <td>
	      {{#if files.datasheets}}
	      {{pdf-link files.datasheets.0.id}}
	      {{/if}}
	    </td>
	  </tr>
	  {{/each}}
	</tbody>
      </table>
    </div>
    {{/if}}
  </div>
</div>
