  <div class="form-group">
    <label>Name
      {{input type="text" classBinding=":form-control" value=model.name}}
    </label>
  </div>
  <div class="form-group">
    <label>Description
      {{textarea classBinding=":form-control" cols="60" rows="10" value=model.description}}
    </label>
  </div>
  <div class="form-group tags-form">
    <label>Tags
      {{input type="text" classBinding=":form-control" value=tagInput action='addTag'}}
    </label>
    {{#each tag in model.tags}}
    <span class="label label-default"><span class="glyphicon glyphicon-remove" {{action 'removeTag' tag}}></span> {{tag}}</span>
    {{/each}}
  </div>
  <div class="form-group">
    <label>Amount<br/>
      {{view Ember.Select content=amountsSelection
                          value=model.amount_id
                          optionValuePath="content.id"
                          optionLabelPath="content.name"}}
    </label>
    {{#if needsValue}}
    <br/>
    <label>Value
      {{input type="text" classBinding=":form-control" value=model.amount_value}}
    </label>
    {{/if}}
  </div>
  <div class="form-group">
    <label>
      {{input type="checkbox" checked=model.spares}} Spares
    </label>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" {{action 'saveComponent' model}}>Save</button>
  </div>
