<div class="container-fluid">
  <div class="col-md-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	{{#if session.isAuthenticated}}
	<div class="panel-title pull-right">
	  {{#link-to 'components.edit' id classBinding=":btn :btn-primary"}}Edit{{/link-to}}
	</div>
	{{/if}}
	<div class="panel-title"><h2>{{name}}</h2></div>
      </div>
      <div class="panel-body">
	<p class="lead">{{description}}</p>
	<p>
	  <strong>Amount: </strong>{{amount}}
	  {{#if spares}}
	  (+spares)
	  {{/if}}
	</p>
	{{#each tag in tags}}
	<span class="label label-default">{{tag}}</span>
	{{/each}}
	{{#if session.isAuthenticated}}
	<div class="container-fluid">&nbsp;</div>
	<nav class="navbar navbar-default">
	  <div class="navbar-header">
	    <a href="javascript:void(0);" class="navbar-brand">Add</a>
	  </div>
	  <button type="button" {{action 'upload' 'Datasheet'}} class="btn btn-default navbar-btn">Datasheet</button>
	  <button type="button" {{action 'upload' 'Document'}} class="btn btn-default navbar-btn">Document</button>
	  <button type="button" {{action 'upload' 'Image'}} class="btn btn-default navbar-btn">Image</button>
	</nav>
	{{file-upload componentId=id id="uploadDatasheet" class="hide-element" dataType="Datasheet"}}
	{{file-upload componentId=id id="uploadDocument" class="hide-element" dataType="Document"}}
	{{file-upload componentId=id id="uploadImage" class="hide-element" dataType="Image"}}
	{{/if}}
      </div>
    </div>
  </div>
  {{#if hasFiles}}
  <div class="col-md-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<div class="panel-title"><h2>Files</h2></div>
      </div>
      <div class="panel-body">
	{{#if files.datasheets}}
	<table class="table">
	  <thead>
	    <tr><th>Datasheets</th></tr>
	  </thead>
	  <tbody>
	    {{#each file in files.datasheets}}
	    <tr><td>{{image-link file.id file.name 320}}</td></tr>
	    {{/each}}
	  </tbody>
	</table>
	{{/if}}
	{{#if files.documents}}
	<table class="table">
	  <thead>
	    <tr><th>Documents</th></tr>
	  </thead>
	  <tbody>
	    {{#each file in files.documents}}
	    <tr><td>{{file-link file.id file.name}}</td></tr>
	    {{/each}}
	  </tbody>
	</table>
	{{/if}}
	{{#if files.images}}
	<table class="table">
	  <thead>
	    <tr><th>Images</th></tr>
	  </thead>
	  <tbody>
	    <tr><td>
	    {{#each file in files.images}}
	    {{image-link file.id file.name 160}}
	    {{/each}}
	    </td></tr>
	  </tbody>
	</table>
	{{/if}}
      </div>
    </div>
  </div>
  {{/if}}
</div>
