<table class="table">
  <tr>
    <th>Name</th>
    <td>{{model.name}}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>{{model.description}}</td>
  </tr>
  <tr>
    <th>Amount</th>
    <td>{{model.amountCode}}</td>
  </tr>
  <tr>
    <th>Spares</th>
    <td>
      {{#if model.spares}}
      Yes
      {{else}}
      No
      {{/if}}
    </td>
  </tr>
  <tr>
    <th>Tags</th>
    <td>
      {{#each tag in tags}}
      <span class="label label-default">{{tag}}</span>
      {{/each}}
    </td>
  </tr>
</table>
{{#link-to 'components.edit' model.id classBinding=":btn :btn-primary"}}Edit{{/link-to}}

