<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid hidden-md hidden-lg">
    <ul class="nav navbar-nav container">
      <li class="col-xs-2">{{#link-to 'components.index'}}List{{/link-to}}</li>
      {{#if session.isAuthenticated}}
      <li class="col-xs-2">{{#link-to 'components.new'}}Add{{/link-to}}</li>
      {{/if}}
      {{#if session.isAuthenticated}}
      <li class="col-xs-2 pull-right"><a href="javascript:void(0)" {{action 'invalidateSession'}}>Logout</a></li>
      {{else}}
      <li class="col-xs-2 pull-right">{{link-to "Login" 'login'}}</li>
      {{/if}}
      <p class="navbar-text col-xs-1 pull-right"></p>
    </ul>
  </div>
  <div class="container-fluid hidden-xs hidden-sm">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'components.index'}}List components{{/link-to}}</li>
      {{#if session.isAuthenticated}}
      <li>{{#link-to 'components.new'}}Add component{{/link-to}}</li>
      {{/if}}
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
      {{#if session.isAuthenticated}}
      <p class="navbar-text">Logged in as {{session.name}}</p>
      <li>
        <a href="javascript:void(0)" {{action 'invalidateSession'}}>Logout</a>
      </li>
      {{else}}
      <li>
	{{link-to "Login" 'login'}}
      </li>
      {{/if}}
    </ul>
  </div><!-- /.container-fluid -->
</nav>
